# Basics of Data Frame

In [1]:
# Exp3

In [2]:
# Aim - Basics of Data Frame

In [ ]:
# Name: Huzaif Khan
# Roll no: 23
# Section: B
# Subject: ET-I

# Creating a Series

In [4]:
# Importing the pandas library
import pandas as pd

In [5]:
Friends=["Om", "Shahid", "Ansh", "Rushi", "Jay"]

In [6]:
Friends

['Om', 'Shahid', 'Ansh', 'Rushi', 'Jay']

In [7]:
rollList = pd.Series(Friends, index=[20,57,40,43,26])

In [8]:
rollList

20        Om
57    Shahid
40      Ansh
43     Rushi
26       Jay
dtype: object

# Creating a Data Frame

In [9]:
df = pd.DataFrame([[27, 15, 10, 5],[2, 10, 18, 22],[15, 26, 0, 20],[7, 11, 13, 20]],
                        columns = ["CD","DSS","DBMS","CAO"]
                        )

In [10]:
df

   CD  DSS  DBMS  CAO
0  27   15    10    5
1   2   10    18   22
2  15   26     0   20
3   7   11    13   20

In [11]:
df.shape

(4, 4)

In [12]:
df.size

16

In [13]:
df.ndim

2

In [14]:
df2 = pd.DataFrame([[27, 10, 11, 0]],
                        columns = ["CD","DSS","DBMS","CAO"]
                        )

In [15]:
df3 = pd.concat([df, df2], ignore_index=True)

In [16]:
df3

   CD  DSS  DBMS  CAO
0  27   15    10    5
1   2   10    18   22
2  15   26     0   20
3   7   11    13   20
4  27   10    11    0

# Adding Attribute (Colums) to Data Frame

In [17]:
df3["DM"]=[12, 18, 2, 8, 11]

In [18]:
df3

   CD  DSS  DBMS  CAO  DM
0  27   15    10    5  12
1   2   10    18   22  18
2  15   26     0   20   2
3   7   11    13   20   8
4  27   10    11    0  11

# Deleting Record (Row) From Data Frame

In [19]:
df4= df3.drop(index=[1])

In [20]:
df4

   CD  DSS  DBMS  CAO  DM
0  27   15    10    5  12
2  15   26     0   20   2
3   7   11    13   20   8
4  27   10    11    0  11

In [21]:
print("Mean of DSS:", df4["DSS"].mean())

Mean of DSS: 15.5

In [22]:
print("Mean of DSS:", df4["DSS"].median())

Mean of DSS: 13.0

In [23]:
print("Mean of DSS:", df4["DSS"].mode())

Mean of DSS: 0    10
1    11
2    15
3    26
Name: DSS, dtype: int64